#popular-section {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: auto;
  align-items: center;
  background-color: #C6C6C6;
  padding-top: 45px;
  padding-bottom: 27px;
}

.popular_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 255px;
}

.popular_card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 25px 17px 15px 17px;
  margin: 7px 15px;
  overflow: hidden;
  background-color: #fff;
}

.popular_card .popular_card-heading {
  display: flex;
  flex-direction: column;
}
.card_title, .card_sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}
.card_title {
  color: #5F5F5F;
  font-family: Roboto Slab;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card_sub {
  color: #000;
  font-family: Roboto Slab;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popular_card-body {
  display: flex;
  justify-content: flex-start;
  color: #000;
  font-family: Roboto Slab;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 8px 0;
}
.popular_card-body > .card_dop, .popular_card-body > span {
  margin-right: 5px;
}

.card_price {
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.horizontal_rule {
  position: absolute;
  left: -17px;
  right: -17px;
  top: 0;
  height: .5px;
  border: .5px dashed rgba(0, 0, 0, 0.50);
}

.card_price > p > span:first-child {
  font-size: 14px;
}
.card_price > p {
  font-size: 20px;
}
.card_icon {
  position: absolute;
  bottom: 0;
  right: 0;
}